<header class="">
  <nav class="relative px-4 py-2 flex justify-between items-center">
      <a class="text-3xl font-bold leading-none" href="#">
            <img src="../../../assets/images/logo1.png" alt="Logo" class="Logo" >
      </a>
      <div class="lg:hidden">
          <button class="navbar-burger flex items-center text-blue-600 p-3">
              <svg class="block h-4 w-4 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <title>Mobile menu</title>
                  <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
              </svg>
          </button>
      </div>
      <ul class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:flex lg:mx-auto lg:flex lg:items-center lg:w-auto lg:space-x-10">
          <li><a class="text-md text-gray-400 hover:text-gray-500" href="#">Home</a></li>
        
          <li><a class="text-md text-blue-600 font-bold" href="#">About Us</a></li>
        
          <li><a class="text-md text-gray-400 hover:text-gray-500" href="#">Services</a></li>
        
          <li><a class="text-md text-gray-400 hover:text-gray-500" href="#">Pricing</a></li>
        
          <li><a class="text-md text-gray-400 hover:text-gray-500" href="#">Contact</a></li>
      </ul>
      <a class="hidden lg:inline-block py-2 px-6 bg-blue-500 hover:bg-blue-600 text-md text-white font-bold rounded-xl transition duration-200" href="login">Account</a>
  </nav>
  <div class="navbar-menu relative z-50 hidden">
      <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
      <nav class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto">
          <div class="flex items-center mb-8">
              <a class="mr-auto text-3xl font-bold leading-none" href="#">
                  <svg class="h-12" alt="logo" viewBox="0 0 10240 10240">
                      <path xmlns="http://www.w3.org/2000/svg" d="M8284 9162 c-2 -207 -55 ..."></path>
                  </svg>
              </a>
              <button class="navbar-close">
                  <svg class="h-6 w-6 text-gray-400 cursor-pointer hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                  </svg>
              </button>
          </div>
          <div>
              <ul>
                  <li class="mb-1">
                      <a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded" href="#">Home</a>
                  </li>
                  <li class="mb-1">
                      <a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded" href="#">About Us</a>
                  </li>
                  <li class="mb-1">
                      <a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded" href="#">Services</a>
                  </li>
                  <li class="mb-1">
                      <a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded" href="#">Pricing</a>
                  </li>
                  <li class="mb-1">
                      <a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded" href="#">Contact</a>
                  </li>
              </ul>
          </div>
          <div class="mt-auto">
              <div class="pt-6">
                  <a class="block px-4 py-3 mb-2 leading-loose text-xs text-center text-white font-semibold bg-blue-600 hover:bg-blue-700  rounded-xl" href="login">Account</a>
              </div>
              <p class="my-4 text-xs text-center text-gray-400">
                  <span>Copyright © 2024</span>
              </p>
          </div>
      </nav>
  </div>
</header>




<section class="billboardlight" id="parallax">
    <div class="welcome"> 
      <h1 class="title">Find The House That Suits You !</h1>
      <p>Want to find a home? we are ready to help you find one that suits your lifestyle and needs.</p>
      <a routerLink="" class="getStarted">Get Started</a>
    </div>
  </section>


  <section id="why-choose-us">
    <h2 class="title2">Why Choose Us?</h2>
    <div class="features">
       <div class="feature">
         <img src="assets/icons/loupe.png" alt="Feature 1 Icon">
         <h3>Feature 1</h3>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
       </div>
       <div class="feature">
         <img src="assets/icons/building.png" alt="Feature 2 Icon">
         <h3>Feature 2</h3>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
       </div>
       <div class="feature">
         <img src="assets/icons/deal.png" alt="Feature 3 Icon">
         <h3>Feature 3</h3>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
       </div>
    </div>
   </section>
   
  
  
  
  
  <section id="new-deals">
  <h1 class="title2">Properties</h1>
  <a href=""> Explore All
    <img src="assets/icons/arrow.png" alt="" width="40px">
  </a>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img src="assets/img6.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card-bottom">
            <button>buy</button>
            <span>1,000,000$</span>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/img4.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a short card.</p>
          </div>
           <div class="card-bottom">
            <button>buy</button>
            <span>1,000,000$</span>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/img1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
          </div>
          <div class="card-bottom">
            <button>buy</button>
            <span>1,000,000$</span>
          </div>
        </div>
      </div>
    
    </div>
  </section>
   
  <footer class="footer">
    <div class="footer-container">
      <div class="footer-section about">
        <div class="logo">
          <img src="../../../assets/images/logo1.png" alt="Logo">
          <p style="margin-top: -80px;font-size: 15px;">We provide advanced tools and resources for analyzing microbiome data to predict diseases.</p>
        </div>
      </div>
      <div class="footer-section links">
        <h3>Quick Links</h3>
        <ul>
          <li><a routerLink="/about">About</a></li>
          <li><a routerLink="/services">Services</a></li>
          <li><a routerLink="/contact">Contact</a></li>
          <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="footer-section contact">
        <h3>Contact Us</h3>
        <p class="contact-item">
          <i class="fas fa-envelope"></i>
          <a href="mailto:microbome@gmail.com">microbomel.com</a>
        </p>
        <p class="contact-item">
          <i class="fas fa-phone"></i>
          <span>99 123 123</span>
        </p>
        <p class="contact-item">
          <i class="fas fa-map-marker-alt"></i>
          <span>add localisation</span>
        </p>
        <div class="social-media">
          <a href="https://www.linkedin.com" target="_blank" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
          <a href="https://www.facebook.com" target="_blank" class="social-icon"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.instagram.com" target="_blank" class="social-icon"><i class="fab fa-instagram"></i></a>
          <a href="https://x.com" target="_blank" class="social-icon"><i class="fab fa-x"></i></a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      &copy; 2024 Microscan. All Rights Reserved.
    </div>
  </footer>